body {
  margin: 0;
  padding: 0;
  background-color: #283618;
  color: #fefae0;
}

.navlist {
  position: absolute; /* Absolute position */
  top: 20px; /* Align to the top */
  right: 0; /* Align to the right */
  background-color: #dda15e; /* Navbar background color */
  width: 30%;
  height: 50px;
  list-style-type: none; /* Remove default list style */
  display: flex;
  justify-content: center;
  align-items: center;
}

.navlist li {
  margin-right: 30px;
}

.navlist a {
  text-decoration: none; /* Remove underline from links */
  color: #283618; /* Link color */
  text-transform: uppercase;
}

.entire {
  /* background-color: purple; */
  color: #fefae0; /* Text color */
  width: 85%;
  margin: 0 auto;
  margin-top: 50px;
}

.about {
  /* background-color: red; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin: 0 auto;
}

.textdescription {
  text-align: center;
  /* background-color: black; */
  font-size: 20px;
  /* width: 70%; */
  margin-top: 60px;
}

.contact {
  /* background-color: blue; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.contactbox1,
.contactbox2 {
  width: 40%;
  background-color: #606c38;
  border-radius: 10px;
  text-align: center;
}
.contactbox1 {
  margin-right: 10px; /* Adjust the gap as needed */
}

.teamdescription {
  text-align: center;
  /* background-color: black; */
  font-size: 20px;
  width: 90%;
  margin: 10px auto;
}
.team-member {
  width: 30%;
  background-color: #780000;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
}

.team-member.left {
  order: 1;
}

.team-member.right {
  order: 3;
}

.description {
  width: 100%;
  text-align: center;
}

.rules ul {
  padding-left: 20px;
}

.rules li {
  margin-bottom: 5px;
}
